#header-image {
	width: 83px;
}
.header h2 {
	display: inline-block;
	color: #fff;
}
.header-text {
	display: inline-block;
	vertical-align: middle;
}
.header-social {
	float: right;
	padding: 25px;
}
.header-logo {
	width: 350px;
	overflow: visible;
	padding: 25px;
	float: left;
}
.header-text h2 {
	overflow: visible;
	margin: 0;
	padding: 0;
	margin-left: 7px;
	font-size: 42px;
}

.planitem:hover {
	cursor: hand;
	cursor: pointer;
}
.first-block {
	padding-top:100px; padding-right:150px; padding-left:150px; padding-bottom:200px; color:#fff;
	position: initial;
}

.fa-stack .fa-circle, .fa-stack:hover .fa-circle-thin {
	display: none;
}
.fa-stack:hover .fa-circle {
	display: inline;
}
.fa-stack:hover .fa-facebook,
.fa-stack:hover .fa-twitter {
	color: #e92e71;
}
.planitem.active {
	color:#fff; background-color: #e92e71; border-radius: 45px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

button.btn-lg.btn-primary {
    background-color: #20265B;
    background-image: none;
    box-shadow: none;
    border-radius: 23px;
    border-width: 2px !important;
    border: 2px #e92e71 solid;
}

button.btn-lg.btn-primary.btn-top:hover {
    color:  #e92e71;
    background-color: #fff;
}

button.btn-lg.btn-primary:hover {
    background-color: #e92e71;
}

button.btn-lg.btn-primary.btn-top {
    background-color: transparent;
    border: 2px #fff solid;
}

.fullbackground { 
  display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/background.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



#circle {
	width: 200px;
	height: 200px;
	background: #2a777d;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

#smallcircle {
	width: 100px;
	height: 100px;
	background: #2a777d;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#tinycircle {
	width: 50px;
	height: 50px;
	background: #1de9c0;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

.planitem {
	padding:15px;
}





