<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div style="height: 0; width: 0; position: absolute; visibility: hidden">
            {% include icons.html %}
        </div>

        <div class="site">
            <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

            <header class="site__header" role="banner">
                <div class="container">

                    {% include header.html %}

                    <div class="hero">
                        <h1 class="hero__title">Creative solutions to real world problems powered by technology and collaboration.</h1>

                        <a class="button" href="#take-action">Take Action!</a>
                    </div>
                </div>
            </header>

            <div id="content">
                <main class="site__main" role="main">

                    <div class="container second">
                        <div class="row push--bottom">
                            <h2>Getting to Sweden is only the first part of the journey. Refugee Tech aims to support refugees in the subsequent phases of their transition:</h2>
                        </div>

                        <div class="row--padded">
                            <div class="row">
                                <div class="col">
                                    <div class="soft">
                                        <img src="/img/refugee1.png">
                                    </div>

                                    <h3>Arrival</h3>

                                    <p>Refugees flee unstable areas to escape ongoing humanitarian crises and seek safety in their new home, Sweden. The arrival is often fraught with trauma and stressful bureaucracy. Providing support to newly arrived refugees in this step is critical to their success.</p>
                                </div>

                                <div class="col">
                                    <div class="soft">
                                        <img src="/img/refugee2.png">
                                    </div>

                                    <h3>Starting Anew</h3>

                                    <p>Now physically safe, refugees must build an entirely new life in Sweden: seek employment, find a place to live, navigate the Swedish language and customs, and much more. We seek to offer resources and advice to refugees in this step to help refugees navigate the process of starting over in Sweden.</p>
                                </div>

                                <div class="col">
                                    <div class="soft">
                                        <img src="/img/refugee3.png">
                                    </div>

                                    <h3>Fulfilling Potential</h3>

                                    <p>Often, refugees are put in boxes that deny their talents and contributions, or limit their opportunities due to language and/or cultural barriers. The final step is about breaking down these barriers and allowing people to fulfill their potential as citizens and professionals.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="third">
                        <div class="container">
                            <div class="row--padded">
                                <div class="row row--align-middle">
                                    <div class="col">
                                        <h2 class="h1">What We Do</h2>

                                        <p>Technology has historically been at the forefront of human advancement. We believe that together, creative minds can harness technology to solve real world problems. That belief is at the core of our mission: to use technology to connect, collaborate, and innovate in order to solve problems faced by refugees today and in the future.</p>

                                        <p>We build bridges between different parts of society to bring in stakeholders, innovators, and tech-savvy people to design and develop creative solutions. We listen to refugees about the problems they face, to organizations on the ground already working on solutions, and to creative tech people. By bringing these voices into one conversation, we can find real solutions that work.</p>

                                        <p>We use these conversations, along with research and hard data to identify the most relevant and urgent problems that could be solved by innovative technology. The best ideas generated during this process are the ones that we’ll turn into tools and services to improve the lives of thousands of refugees.</p>
                                    </div>
                                    <div class="col text-center">
                                        <img src="/img/what-we-do.png" alt="Entrepreneurs, Developers, Investors, People and Refugees">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fourth container">
                        <h2 class="h1">How it Works</h2>

                        <div class="tab-nav">
                            <ol class="tabs">
                                <li class="tab is-active">
                                    <a href="#" data-target="identifying">1. Identifying the Problems</a>
                                </li>
                                <li class="tab">
                                    <a href="#" data-target="generating">2. Generating Ideas</a>
                                </li>
                                <li class="tab">
                                    <a href="#" data-target="hackathon">3. Hackathon</a>
                                </li>
                                <li class="tab">
                                    <a href="#" data-target="evolving">4. Evolving the Solution</a>
                                </li>
                                <li class="tab">
                                    <a href="#" data-target="implementation">5. Implementation</a>
                                </li>
                            </ol>
                        </div>
                        <div class="tab-container">
                            <div class="tab-content" id="identifying">
                                <div class="text-center push--bottom">
                                    <img src="/img/1_problem.svg">
                                </div>

                                <p>To make a real difference, we must first identify and prioritize the most urgent problems. To do this we perform a joint analysis, first speaking to refugees and lead organizations and then using scientific processes to gather data and better understand the scope of the problems at hand. This step lays the groundwork for us and our collaborators to identify sustainable solutions.</p>
                            </div>

                            <div class="tab-content" id="generating" style="display: none;">
                                <div class="text-center push--bottom">
                                    <img src="/img/2_idea_lamp.svg">
                                </div>

                                <p>Now that we’ve identified a problem, we brainstorm to find possible solutions. We bring creative minds from diverse backgrounds together to foster a deeper understanding of the problem in this step. Unique perspectives lead to many potential solutions, which we identify and evaluate before the next step, creating the technology to implement the solution.</p>
                            </div>

                            <div class="tab-content" id="hackathon" style="display: none;">
                                <div class="text-center push--bottom">
                                    <img src="/img/3_hack_colab.svg">
                                </div>

                                <p>This step is where solutions are built and tested. Our process is designed so that the solutions with the highest potential to solve the problem are the ones that will be developed as prototypes. Techies, designers and engineers take the lead on creating the technology needed to develop these prototypes, which are then market tested by dedicated teams. We involve relevant stakeholders in this process to ensure our solutions have the necessary funding and resources to be fully realized and implemented.</p>
                            </div>

                            <div class="tab-content" id="evolving" style="display: none;">
                                <div class="text-center push--bottom">
                                    <img src="/img/4_open_source_networking_help.svg">
                                </div>

                                <p>The prototypes created at the hackathon are kept open source so that further improvements and developments can be made by anyone with an interest in solving the problem we’ve identified. This step is about product development, but it’s also about creating the necessary foundation to release the solution into the world. We hope that by keeping our projects open source, we can pave the way for other individuals or organizations to implement our solutions, apply our best practices and/or learn from our mistakes.</p>
                            </div>

                            <div class="tab-content" id="implementation" style="display: none;">
                                <p>After thorough research, collaboration, development and testing, we make our solution available - be it a product, service, or digital tool - to the people and organizations who can implement them to make a powerful impact on the lives of people in need.</p>
                            </div>
                        </div>
                    </div>

                    <div class="fifth" id="take-action">
                        <div class="container">
                            <h2>What You Can Do</h2>

                            <div class="row--padded">
                                <div class="row">
                                    <div class="col">
                                        <p>We welcome volunteers from all backgrounds get involved with Refugee Tech. If you have a skill or relevant experience that can help us reach our goal of affecting positive change in the lives of refugees, we want to hear from you. Please fill out our short survey, and we will get in touch.</p>

                                        <a href="https://refugee1.typeform.com/to/dNCHCf" class="button">Get Involved</a>
                                    </div>
                                    <div class="col">
                                        <p>If you have a problem you want help solving, please fill in our form explaining it and we will work on the solution</p>

                                        <a href="https://refugee1.typeform.com/to/l6KJuh" class="button">Begin</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>

            {% include footer.html %}

        </div>

        <script>
            /* global jQuery */

            (function($) {
                'use strict';

                /**
                 * Tabs
                 */

                var $tab = $('.tab'),
                    $tabs = $('.tabs'),
                    $tabContent = $('.tab-content');

                $tab.find('a').on('click', function(e) {
                    e.preventDefault();

                    var $this = $(this),
                        target = $this.data('target');

                    $tabs.find('.is-active').removeClass('is-active');
                    $this.parent().addClass('is-active');
                    $tabContent.hide();
                    $('#' + target).show();
                });

                /**
                 * Smooth scroll
                 */

                $('a[href*=#]:not([href=#])').click(function() {
                    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');

                        if (target.length) {
                            $('html,body').animate({
                                scrollTop: target.offset().top
                            }, 1000);

                            return false;
                        }
                    }
                });

            })(jQuery);
        </script>
    </body>
</html>
