.main-menu {
    line-height: 24px;
    float: right;

    @media ($mq-medium-up) {
        font-size: 18px;
        font-size: 1.125rem;
    }
}

.main-menu__item {
    float: left;
    margin-left: 1em;

    .shape {
        width: 24px;
        height: 24px;
        fill: $color-secondary;

        .start-page & {
            fill: $color-white;
        }
    }
}

.main-menu__item-link {
    color: $color-secondary;

    .start-page & {
        color: $color-white;
    }
}
